In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Mall_Customers.csv')

In [3]:
print("Initial Data Overview:")
print(df.info())
print(df.head())

Initial Data Overview:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Gender                  200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB
None
   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [4]:
print("\nMissing Values Before Cleaning:")
print(df.isnull().sum())

Missing Values Before Cleaning:
CustomerID                0
Gender                    0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

In [5]:
df.dropna(inplace=True)

In [6]:
df.drop_duplicates(inplace=True)

In [7]:
df['Gender'] = df['Gender'].str.strip().str.capitalize()

In [8]:
df.columns = [col.strip().lower().replace(' ', '_') for col in df.columns]

In [9]:
df['age'] = df['age'].astype(int)

In [10]:
print("\nCleaned Data Overview:")
print(df.info())
print(df.head())

Cleaned Data Overview:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   customerid              200 non-null    int64
 1   gender                  200 non-null    object
 2   age                     200 non-null    int32
 3   annual_income_(k$)      200 non-null    int64
 4   spending_score_(1-100)  200 non-null    int64
dtypes: int32(1), int64(3), object(1)
memory usage: 8.6+ KB
None
   customerid  gender  age  annual_income_(k$)  spending_score_(1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [12]:
df.to_csv('Cleaned_Mall_Customers.csv', index=False)
print("\n Cleaned dataset saved as 'Cleaned_Mall_Customers.csv'")

 Cleaned dataset saved as 'Cleaned_Mall_Customers.csv'